</div>

<footer>
  <div class="container">
    <span class="copyright">&copy; 2020-2025 {{ .Site.Title }} - <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span></br>

    <span class="copyright">Original theme: &copy; <a href="https://htdvisser.github.io/hugo-base16-theme"> Base 16 theme</a> by <a href="https://github.com/htdvisser">Hylke Visser</a> <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span>

  </div>
</footer>

</body>
</html>
