<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
<meta charset="utf-8">
<meta name="description" content="{{ if eq .Description "" }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
{{- with $.Param "keywords" }}
<meta name="keywords" content="{{ delimit . "," }}">
{{- end }}
{{- with $.Param "author" }}
<meta name="author" content="{{ . }}">
{{- end }}
{{ hugo.Generator }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css">
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/dejavu-sans-mono" type="text/css"/> 
<link rel="alternate" href="{{ "index.xml" | relURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
<title>{{ with .Title }}{{.}} - {{ end }}{{ .Site.Title }}</title>
</head>
<body>

<header>
  <div class="container clearfix">
      {{ range $item := .Site.Menus.main }}
        <a class="path" href="{{$item.URL}}">[{{ $item.Name }}]</a>
      {{ end }}
  </div>
</header>

<div class="container">
