{{ $baseurl := .Site.BaseURL }}

<!-- <h1 class="site-title">
  <span class="base05">[</span><span class="base08">b</span><span class="base09">a</span><span class="base0a">s</span><span class="base0b">e</span><span class="base0c">1</span><span class="base0d">6</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1> -->

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<!-- <div style="text-align: center;">
  <i>"Thanks God for the nineties"</i> - me.
</div> -->
